
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.card {
  width: 18rem;
  margin-bottom: 20px;
}

.incident-list {
  list-style: none;
}

/* .incident-element-list {
  display: inline;
} */

.card-title {
  color: #198bd8;
  font-weight: bolder;
}

.card-description {
  background-color: lightgray;
  border: 1px solid darkgrey;
  margin: 8px;
}

.card-footer {
  background-color: white;
  border: none;
  margin: 0px;
}