
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.card {
  width: 18rem;
  margin: 20px;
}

.incident-list {
  list-style: none;
}