:root {
  --my-color: #3c3c3c;
  --main-font: "Aleo", serif;
  --secondary-font: "Open Sans", sans-serif;
}

.page {
  display: grid;
  grid-template-columns: repeat(2);
}

.navbar {
  grid-column: 1;
  grid-row: 1;
  display: table-cell;
}

.content {
  grid-column: 2;
  grid-row: 1;
  display: table-cell;
}
/* 
.container {
  padding: 20px;
}

.container label {
  color: #7e7d7d;
}
 */
.btn {
  color: white;
  border-radius: 2rem;
  font-family: var(--secondary-font);
  background-color: #188bd8;
  margin-top: 30px;
}
